<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="utf-8">
<title>パスワードの設定</title>
@@include('head.html')
</head>

<body class="p-top">
<div class="l-container">

<!-- l-header START -->
@@include('l-header-top.html')
<!-- l-header END -->

<div class="l-contents">
<main class="l-main">
<section class="p-sub__section">
	<h1 class="p-sub__head01">パスワードの設定</h1>
  <div class="p-sub__lead">
    <p>
      MOT2へようこそ！
      まず、MOT2へログインするためのパスワードを設定してください。
    </p>
  </div>
  <form action="/home/" class="c-form">
    <div class="c-form-item">
      <label for="password" class="c-form-item-title">パスワード</label>
      <input type="password" name="password" id="password">
    </div>
    <div class="c-form-item">
      <label for="password-check" class="c-form-item-title">パスワードを再度入力してください</label>
      <input type="password" name="password-check" id="password-check">
    </div>
    <div class="c-form-submit c-button-wrap">
      <button type="submit" class="c-button">設定する</button>
    </div>
  </form>
</section>
</main>
<!-- l-footer START -->
@@include('l-footer-top.html')
<!-- l-footer END -->
</div>
</div>
@@include('javascript.html')
</body>

</html>
