@charset "utf-8";

/*
@include sp($point-sp) {}
@include tb($point-tb) {}
@include pc01($point-pc01) {}
@include pc02($point-pc02) {}
*/

.p-top {
  .l-header__btn-item a span,
  .l-header__btn-item button span {
    color: #f86a40;
  }
  .l-main {
    padding: 0 16px;
  }
  .c-button--large {
    background-color: #f86a40;
    color: #fff;
  }
  .p-sub__head01,
  .p-sub__head02 {
    color: #f86a40;
    border-color: #f86a40;
  }
  &-mv {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 0 24px;
    &-logo {
      text-align: center;
    }
    &-text {
      margin: 24px 2em;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.5;
      text-align: center;
    }
  }
  &-lead {
    margin: 0 0 48px;
    p {
      &:not(:last-child) {
        margin: 0 0 2em;
      }
    }
  }
  &-btn {
    margin: 0 0 48px;
  }
}