<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="utf-8">
<title>title</title>
@@include('head.html')
</head>

<body class="is-top">
<div class="l-container">

<!-- l-header START -->
@@include('l-header-top.html')
<!-- l-header END -->

<div class="l-contents">
<main class="l-main">
<section>
	<div class="p-top-mv">
		<h1 class="p-top-mv-logo">
			<img src="/img/common/mot2_logo.png" width="330" height="332" alt="mot2ロゴ">
		</h1>
		<h2 class="p-top-mv-text">
			研究所からもらった繋がりを<br>
			もっともっと
		</h2>
	</div>
</section>
</main>
<!-- l-footer START -->
@@include('l-footer-top.html')
<!-- l-footer END -->
</div>
</div>
@@include('javascript.html')
</body>

</html>
