<!--include START-->
<footer class="l-footer">
  <!-- <div class="l-pagetop"><button type="button" class="pagetop-btn"><span>PAGE TOP</span></button></div> -->
  <!-- <div class="copyright-wrap">Copyright &copy; ○○○○○○○○○○○○. All rights reserved.</div> -->
  <div class="l-footer__btn">
    <div class="l-footer__btn-item">
      <a href="/home/">
        <img src="/img/common/icon-earth.svg" width="32" height="32" alt="">
        <span>HOME</span>
      </a>
    </div>
    <div class="l-footer__btn-item">
      <a href="/topic/">
        <img src="/img/common/icon-search.svg" width="32" height="32" alt="">
        <span>検索</span>
      </a>
    </div>
    <div class="l-footer__btn-item">
      <a href="/user/">
        <img src="/img/common/icon-users.svg" width="32" height="32" alt="">
        <span>メンバー</span>
      </a>
    </div>
    <div class="l-footer__btn-item">
      <a href="/user/edit/user-id/">
        <span class="l-footer__user-icon">
          <img src="/img/common/dummy.png" alt="">
        </span>
        <!-- <img src="/img/common/icon-accessibility.svg" alt=""> -->
        <span>個人設定</span>
      </a>
    </div>
  </div>
</footer>
<!--include END-->
